SolutionLayers/UI/Service References/WCFServiceClient/ServiceCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37543/ServiceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloDatos" />
  <xs:element name="insertCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloDatos" minOccurs="0" name="c" nillable="true" type="q1:tbCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModeloDatos" minOccurs="0" name="c" nillable="true" type="q2:tbCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModeloDatos" minOccurs="0" name="c" nillable="true" type="q3:tbCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModeloDatos" minOccurs="0" name="selectClienteResult" nillable="true" type="q4:ArrayOfprocSelectClientes_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>