SolutionLayers/UI/Service References/WCFServiceClient/ServiceCliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModeloDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModeloDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tbCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbCliente" nillable="true" type="tns:tbCliente" />
  <xs:complexType name="ArrayOfprocSelectClientes_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="procSelectClientes_Result" nillable="true" type="tns:procSelectClientes_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfprocSelectClientes_Result" nillable="true" type="tns:ArrayOfprocSelectClientes_Result" />
  <xs:complexType name="procSelectClientes_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="procSelectClientes_Result" nillable="true" type="tns:procSelectClientes_Result" />
</xs:schema>