SolutionLayers/UI/Service References/WCFServiceClient/ServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37543/ServiceCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37543/ServiceCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37543/ServiceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCliente_insertCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_insertCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_updateCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_updateCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_deleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_deleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_selectCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:selectCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_selectCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCliente">
    <wsdl:operation name="insertCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/insertCliente" message="tns:IServiceCliente_insertCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/insertClienteResponse" message="tns:IServiceCliente_insertCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/updateCliente" message="tns:IServiceCliente_updateCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/updateClienteResponse" message="tns:IServiceCliente_updateCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/deleteCliente" message="tns:IServiceCliente_deleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/deleteClienteResponse" message="tns:IServiceCliente_deleteCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/selectCliente" message="tns:IServiceCliente_selectCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/selectClienteResponse" message="tns:IServiceCliente_selectCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCliente" type="tns:IServiceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/insertCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/updateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/deleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/selectCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCliente">
    <wsdl:port name="BasicHttpBinding_IServiceCliente" binding="tns:BasicHttpBinding_IServiceCliente">
      <soap:address location="http://localhost:37543/ServiceCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>